{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Local Commerce</title>
</head>
<body>

<h1>Welcome to My Local Commerce App 🚀</h1>
<p>This is the beginning of my business platform.  BASTI KA HASTI Bro</p>

</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>Local Commerce</title>
</head>
<body>

<h1>Available Products 🛒</h1>

<ul>
    {% for item in products %}
        <li>
            {{ item.name }} — ₹{{ item.price }}
        </li>
    {% endfor %}
</ul>

</body>
</html>